# https://github.com/github/gitignore/blob/main/Python.gitignore
# via https://github.com/github/gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__
*.pyc
